<% @page_title = 'Frequently Asked Questions' %>

<h1><%= @page_title %></h1>

<h2 class="section">General</h2>
<p><strong>What's so cool about Netcooler?</strong></p>
<p>Netcooler marries the prototypical workplace watercooler with some powerful new communication tools.</p>
<p>From the moment of launch, folks could interact with their existing contacts and networks to inform, talk, ask, answer, vote… in short, <strong>organize information</strong> around companies and other places of work. The site is open to all, so with enough people contributing, communities are built around these workplaces. As each community becomes more active and robust, its value as a resource to folks also grows.</p>
<p>We think that Netcooler has the potential to blow away the physical watercooler as the center of workplace community. It may even be powerful enough to change the balance of power in the workplace, in some respects. Here are some examples:</p>
<ul>
 <li>A community member posts an article from the press or a blog, to share news with everyone else (like they might do on digg.com, or reddit.com &mdash; except that on Netcooler, the principle of organization is the company, as opposed to a news category). Others can comment on how the news is or is not relevant, true, important, etc. Each news item can be promoted or demoted by each user (don’t worry, you can change your mind!); and each comment can likewise be promoted or demoted based on the reader’s agreement or disagreement. Each user’s voice can be heard, and the aggregate vote tallies tell us what the community thinks, as a whole.<br><br>
   So how could this change the workplace? Let’s say there is an article in the press about how great the coffee is where you work. Post the story, and ask what the community thinks. Share the story via email, while you’re at it. If 92% of people disagree...maybe they’ll change the coffee :)<br><br></li>
 <li>A community member hears a rumor and posts it (no company confidential information, please! remember your agreements and duties to your company, and remember those insider trading laws!). Again, others can comment, promote and demote. The community gets a sense of everyone’s guess as to whether the rumor could be true.<br><br>So how could this change the workplace? Well, maybe this feature won’t, but it can still be interesting, and fun!<br><br></li>
 <li>A community member posts a question. The community answers, and then promotes or demotes others’ answers. Enough said.<br><br>
   So how could this change the workplace? The job seeker asks a tough to the Netcooler community, as well as in the interview, and compares results. Maybe it will keep ‘em honest! Management floats test balloons and based on aggregate community feedback, opts to implement X instead of Y. Get the idea?</li>
</ul>

<p><strong>Why should I contribute?</strong></p>
<p>Great question &mdash; let’s answer it by asking another question: what do Egypt's pyramids, NASA’s Mars Rover Program, and Netcooler have in common? Each draws upon and channels the wisdom of many, resulting in something unachievable by a single person.</p>
<p>We believe the power of Netcooler lies in the collective wisdom of the community.</p>
<p>As a passive consumer of Netcooler content, you will be entertained and informed.</p>
<p>But as a contributor, you will help build a body of information that will help others. Your questions and your answers are important, and your votes matter. The aggregate includes you.</p>

<p><strong>Do I need to sign up to use Netcooler?</strong></p>
<p>Yes and no.  You can read all news, questions, answers, gossip and comments, and view all data without signing up or logging in. However, for your voice to be heard and for your vote to count, you must <%= link_to 'sign up for a free account', new_user_url %>.</p>

<p><strong>Does Netcooler cost anything?</strong></p>
<p>No, it’s totally free.</p>

<p><strong>I have a cool idea for Netcooler &mdash; how can I suggest it?</strong></p>
<p>Send us an email at <%= mail_to 'suggestions@netcooler.com' %>. We would love to hear from you.</p>

<p><strong>How can I advertise on Netcooler?</strong></p>
<p>Send us an email at <%= mail_to 'ads@netcooler.com' %>. We would REALLY love to hear from you.</p>

<h2 class="section">Ok, so now I know Netcooler is cool, but...</h2>

<p><strong>...is my privacy protected?</strong></p>
<p>We have a privacy policy. You can read it <%= link_to 'here', privacy_url %>.  In addition, be sure to use your common sense.  If you want to remain anonymous, do not contribute content in a way that would lead others to deduce your identity.</p>

<p><strong>...."that's not so cool." How do I report objectionable content?</strong></p>
<p>Send us an email at <%= mail_to 'objections@netcooler.com' %> and let us know why you think the item is objectionable.</p>

<p><strong>....is there a code of conduct for Netcooler?</strong></p>
<p>We are committed to setting a tone that reflects the preferences of the users.  Anonymity is a powerful tool for the aggregation of blunt and honest information, and is critical to the site.  However, we recognize that anonymity can sometimes heighten the potential for abuse.  We ask that you remember that you are a grown-up, that you comply with your agreements, duties and the law, and that you tell the truth.</p>

<p><strong>...I work for a school, a non-profit or the government &mdash; can I use Netcooler?</strong></p>
<p>Of course you can. You can <%= link_to 'create a company', new_company_url %> for your organization just like anyone else.  We hope you do.</p>

<h2 class="section">Functionality</h2>

<p><strong>What are some ways that I can research a company?</strong></p>
<p><strong>News</strong> &mdash; Once you are at a company’s page, click on the News Tab, and you will see recent news stories that someone has posted. Under each story, users may have responded and discussed the story, and their opinions.  Each story and comment displays the aggregate amount the community has rated it as cool or uncool.</p>
<p><strong>Gossip</strong> &mdash; Again, from the company page there is a Gossip Tab.  This works a lot like News, except that there needn’t be an actual news story to create a gossip entry.  With gossip, there is a display on each entry and comment regarding the community’s aggregate view of whether the item is true or false.  If this section of the site works right, some gossip may actually become News!</p>
<p><strong>Questions and Answers</strong> &mdash; Another tool located on the company page is the Q&A Tab.  Here, you can search previously posed questions, and read the answers to them, and look at the cool/uncool ratings to get a  sense for how helpful others deemed the answers to be.  If you do not see the question you have, you can create a question, and visit us again later to see what others have had to say.</p>
<p><strong>Tags</strong> &mdash; What are they, why are they cool, and how are they used at Netcooler?  Tags are words or phrases that users have associated with, in the case of Netcooler, content they’ve submitted.  We feature tags because we believe that the tags users associate with content, and the collection of tags within a given company are inherently interesting. Users can navigate the site based on tag commonalities.</p>
<p>The tagging feature of Netcooler, like the rest of the site, continuously changes as users add and tag new content. If you click on a tag, you will be taken to a separate page that shows you other content that has been associated with that tag.  This is a cool way to find out about companies that have something in common with a tag that interests you.</p>
<p>Your user profile also displays a link to all tags you've created &mdash; so you can use this function to bookmark content. You can use this same tool to explore the content added and organized by other users you think are interesting.</p>

<p><strong>What if my company isn't profiled on Netcooler yet?</strong></p>
<p>Are you sure? Search for it, and if it in fact is not profiled, you can <%= link_to 'create the company profile', new_company_url %> yourself.</p>

<p><strong>Cool/Uncool Icons - what's this all about?</strong></p>
<p>At various places on the site, you may see icons like this <%= image_tag 'rate-cool2.gif' %> and this <%= image_tag 'rate-uncool2.gif' %>. This is our way of asking you whether, overall, you think that particular content is cool.</p>
<p>All user’s votes regarding an item are aggregated, and the results are displayed so that users can view what others think about that particular content &mdash; how true a piece of gossip is, how helpful an answer is, etc.</p>

<p><strong>How can I help build my company's community?</strong></p>
<p>Be a contributor! Add news, ask or answer a question, post or respond to some gossip, or play with our tagging feature.</p>
<p>Tell a friend about us! The more people you get to join and contribute, the more interesting and useful the site will be for you and others.</p>

<h2 class="section">Your Account</h2>

<p><strong>Do I have to create a screen name to use Netcooler?</strong></p>
<p>No. All of our content is viewable by everyone.</p>

<p><strong>I forgot my login and/or password &mdash; am I banished forever?</strong></p>
<p>Of course not &mdash; just visit the <%= link_to 'reset password page', reset_password_url %> and we'll send you a new one.</p>

<p><strong>How do I change my password?</strong></p>  
<p>Just login and click on the Settings in the header at the top of the page. You’ll be able to change your email address, username, and password.</p>

<h2 class="section">Other Questions</h2>

<p><strong>Don’t like what you read on Netcooler and you are thinking about suing?</strong></p>
<p>Before you do, consider this:</p>
<p>Federal law allows entities to "host" other people's content without being liable for defamation/libel etc.  In a judgment in favor of America Online, the 4th Circuit Federal Court of Appeals once wrote that federal law “creates a federal immunity to any cause of action that would make service providers liable for information originating with a third-party user of the service." Zeran v. AOL, 129 F.3d 327, 330 (4th Cir. 1997).</p>
<p>To boot, the Supremes have held that anonymity of speech is protected under the U.S. Constitution (see McIntyre v. Ohio, 514 U.S. at 337; Talley v. State of California, 362 U.S. 60), and various courts have held that the right to speak anonymously extends to the internet.  Our thanks to <a href="http://www.ratemyprofessors.com">RateMyProfessors</a> for the legal research, by the way.</p>

